{% extends 'base.html' %}
{% load static %}
{% block main %}
<main
class="flex-grow bg-secondary-light pb-14 pt-36 dark:bg-primary-dark xs:pt-36"
>
<div class="container">
  <div
    class="mx-auto max-w-[500px] rounded-lg bg-primary-light p-5 dark:bg-secondary-dark"
  >
    <!-- Head -->
    <div class="flex flex-col items-center justify-center gap-y-4">
      <div>
        <svg class="h-20 w-20 text-tertiary-500 dark:text-tertiary-400">
          <use xlink:href="#check" />
        </svg>
      </div>
      <h1
        class="mb-8 text-center text-base text-tertiary-500 dark:text-tertiary-400 md:text-lg lg:text-xl"
      >
        پرداخت سفارش {{ order.id }} موفق بود!
      </h1>
    </div>

    <div class="mb-6 flex items-center justify-center text-sm">
      <div class="flex flex-col items-center gap-y-2 md:gap-y-4">
        <p
          class="font-medium text-quaternary-700 dark:text-primary-light md:text-lg"
        >
          جرئیات پرداخت
        </p>
        <div class="flex items-center gap-x-4">
          <p class="text-quaternary-600 dark:text-quaternary-300">
            شماره پیگیری : <span class="tracking-wider">{{ RefID }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="flex gap-x-4">
      <div class="w-full">
        <a href="{% url "home:home" %}" class="btn-secondary py-3"> برگشت </a>
      </div>
    </div>
  </div>
</div>
</main>
{% endblock main %}