{% extends 'base.html' %}
{% load static %}
{% block title %}
آدرس های شما
{% endblock title %}
{% block main %}
    <main class="flex-grow bg-secondary-light pb-14 pt-36 dark:bg-primary-dark xs:pt-36">
        <div class="container">
          <div class="grid grid-cols-12 gap-4">
            <!-- sidebar -->
            <div class="col-span-12 lg:col-span-3">
              <!-- Desktop sidebar -->
              <div
                class="sticky top-32 hidden w-full overflow-hidden rounded-lg bg-primary-light shadow-base dark:bg-secondary-dark lg:block"
              >
                <div
                  dir="ltr"
                  class="max-h-[calc(90vh_-_100px)] overflow-y-auto p-4 xl:p-6"
                >
                  <div dir="rtl">
                    <!-- Head -->
                    <div
                      class="mb-2 flex items-center justify-between border-b border-senary-200 pb-6 dark:border-primary-light/10"
                    >
                      <div class="flex items-center gap-x-4">
                        <div class="flex flex-col">
                          <div
                            class="line-clamp-1 text-quaternary-700 dark:text-primary-light"
                          >
                          {{ user.f_name }} {{ user.l_name }}
                          </div>
                          <div
                            class="line-clamp-1 text-quaternary-600 dark:text-quaternary-300"
                          >
                            {{ user.phone }}
                          </div>
                        </div>
                      </div>
                      <a href="./profile-edit.html">
                        <svg
                          class="h-6 w-6 text-tertiary-500 dark:text-tertiary-400"
                        >
                          <use xlink:href="#edit" />
                        </svg>
                      </a>
                    </div>

                    <ul class="space-y-1">
                      <li>
                        <a
                          href="{% url "profiles:profile_dashboard" %}"
                          class="profile-menu flex items-center justify-between rounded-lg px-2 py-4 xl:px-4"
                        >
                          <div class="flex items-center gap-x-4">
                            <svg class="h-6 w-6">
                              <use xlink:href="#home" />
                            </svg>
                            <div>پیشخوان</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a
                          href="{% url "profiles:profile_orders" %}"
                          class="profile-menu flex items-center justify-between rounded-lg px-2 py-4 xl:px-4"
                        >
                          <div class="flex items-center gap-x-4">
                            <svg class="h-6 w-6">
                              <use xlink:href="#order" />
                            </svg>
                            <div>سفارش ها</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a
                          href="{% url "addreses:user_addreses" %}"
                          class="profile-menu profile-menu-active flex items-center justify-between rounded-lg px-2 py-4 xl:px-4"
                        >
                          <div class="flex items-center gap-x-4">
                            <svg class="h-6 w-6">
                              <use xlink:href="#address" />
                            </svg>
                            <div>آدرس ها</div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a
                          class="flex items-center justify-between rounded-lg p-4 text-red-500 hover:bg-red-500/10 dark:text-red-400 dark:hover:bg-red-400/10"
                          href="{% url "account:user_logout" %}"
                        >
                          <div class="flex items-center gap-x-2">
                            <svg class="h-6 w-6">
                              <use xlink:href="#exit"></use>
                            </svg>
                            <span> خروج </span>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Mobile menu -->
              <div
                class="rounded-lg bg-primary-light p-6 shadow-base dark:bg-secondary-dark lg:hidden"
              >
                <div class="flex items-center justify-center">
                  <div
                    class="flex flex-col items-center justify-center gap-y-4"
                  >
                    <div>
                      <p
                        class="line-clamp-1 text-quaternary-700 dark:text-primary-light"
                      >
                      {{ user.f_name }} {{ user.l_name }}
                      </p>
                      <p class="text-quaternary-500 dark:text-quaternary-400">
                        {{ user.phone }}
                      </p>
                    </div>
                    <div>
                      <button
                        class="btn-primary px-4 py-2"
                        aria-controls="profile-menu-drawer-navigation"
                        data-drawer-show="profile-menu-drawer-navigation"
                        data-drawer-placement="bottom"
                        data-drawer-target="profile-menu-drawer-navigation"
                        type="button"
                      >
                        <svg class="h-6 w-6 text-primary-light">
                          <use xlink:href="#menu" />
                        </svg>
                        منوی پنل کاربری
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- content -->
            <div class="col-span-12 lg:col-span-9">
                <div
                  class="rounded-lg bg-primary-light p-5 shadow-base dark:bg-secondary-dark"
                >
                  <div
                    class="mb-16 flex flex-col items-center justify-between gap-y-8 xs:flex-row"
                  >
                    <!-- Title -->
                    <h1
                      class="relative w-fit text-xl font-medium text-quaternary-700 dark:text-primary-light"
                    >
                      آدرس های شما
                      <span
                        class="absolute right-0 top-10 h-[3px] w-full rounded-full bg-tertiary-500 dark:bg-tertiary-400"
                      >
                      </span>
                    </h1>
  
                    <button
                      data-modal-target="address-add-modal"
                      data-modal-toggle="address-add-modal"
                      class="btn-primary w-full px-4 py-2 xs:w-fit"
                    >
                      <svg class="h-6 w-6">
                        <use xlink:href="#address-add"></use>
                      </svg>
                      ثبت آدرس جدید
                    </button>
                  </div>
                  <div
                    class="space-y-4 divide-y divide-secondary-light dark:divide-primary-light/5"
                  >
                  <legend class="sr-only">Address</legend>
                  {% for address in user_addreses %}
                  <div>
                      <input
                        type="radio"
                        name="address"
                        value="{{ address.id }}"
                        id="address-{{ address.id }}"
                        class="peer hidden"
                      />
    
                      <label
                        for="address-{{ address.id }}"
                        class="relative block cursor-pointer rounded-lg border border-secondary-light p-4 shadow-base peer-checked:border-tertiary-500 hover:border-senary-200 dark:border-primary-light/5 peer-checked:dark:border-tertiary-400 dark:hover:border-primary-light/10"
                      >
                        <div
                          class="mb-4 flex items-center justify-between gap-x-2 sm:mb-2"
                        >
                          <p
                            class="line-clamp-2 h-10 text-sm text-quaternary-600 dark:text-quaternary-300 xs:text-base sm:line-clamp-1 sm:h-6"
                          >
                          {{ address.addres }}
                          </p>
    
                          <div class="hidden md:block">
                              <a
                                href="{% url "addres:delete_address" address.pk %}"
                                class="flex w-full items-center justify-between rounded-lg px-4 py-3 text-red-500 hover:bg-red-500/10 dark:text-red-400 dark:hover:bg-red-400/10"
                              >
                                <div class="flex items-center gap-x-2">
                                    <svg class="h-6 w-6">
                                      <use xlink:href="#address-delete"></use>
                                    </svg>
                                    <span> حذف </span>
                                </div>
                              </a>
                            </div>
                        </div>
    
                        <div class="flex items-center justify-between gap-x-2">
                          <p
                            class="line-clamp-1 text-sm text-quaternary-500 dark:text-quaternary-400"
                          >
                          {{ address.city }}  {{ address.state }}
                          </p>
                          <div class="flex items-center gap-x-2 md:hidden">
                            <a
                              href="{% url "addres:delete_address" address.pk%}"
                              class="btn-red-nobg px-3 py-1 text-sm xs:px-4 xs:py-2"
                            >
                              حذف
                            </a>
                          </div>
                        </div>
                      </label>
                    </div>
                  {% endfor %}
                  </div>
  
                  <button
                    data-modal-target="address-add-modal"
                    data-modal-toggle="address-add-modal"
                    class="w-full"
                  >
                    <div
                      class="not-prose relative mt-6 flex rounded-md border border-secondary-light bg-primary-light transition-all duration-150 hover:bg-senary-200 dark:border-primary-light/5 dark:bg-secondary-dark hover:dark:bg-quaternary-800"
                    >
                      <div
                        class="relative flex h-25 w-full select-none items-center justify-center overflow-hidden rounded opacity-75"
                      >
                        <svg
                          class="absolute inset-0 h-full w-full stroke-secondary-dark/10 dark:stroke-primary-light/10"
                          fill="none"
                        >
                          <defs>
                            <pattern
                              id="pattern-5c1e4f0e-62d5-498b-8ff0-cf77bb448c8e"
                              x="0"
                              y="0"
                              width="10"
                              height="10"
                              patternUnits="userSpaceOnUse"
                            >
                              <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
                            </pattern>
                          </defs>
                          <rect
                            stroke="none"
                            fill="url(#pattern-5c1e4f0e-62d5-498b-8ff0-cf77bb448c8e)"
                            width="100%"
                            height="100%"
                          ></rect>
                        </svg>
                        <svg
                          class="h-8 w-8 text-tertiary-500 dark:text-tertiary-400"
                        >
                          <use xlink:href="#address-add" />
                        </svg>
                      </div>
                    </div>
                  </button>
                </div>
              </div>
        </div>
        
    </main>
    <!-- Mobile Profile Menu Drawer -->
    <div
    aria-labelledby="profile-menu-drawer-navigation-label"
    class="fixed bottom-0 left-0 right-0 z-40 w-full translate-y-full rounded-t-3xl bg-primary-light transition-transform duration-300 dark:bg-secondary-dark"
    id="profile-menu-drawer-navigation"
    tabindex="-1"
  >
    <div
      class="flex items-center justify-between gap-x-4 border-b border-secondary-light p-4 pb-5 dark:border-primary-light/5"
    >
      <h5 class="text-lg text-quaternary-600 dark:text-quaternary-300">
        منوی پنل کاربری
      </h5>
      <button
        aria-controls="user-account-drawer-navigation"
        class="inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-quaternary-600 hover:bg-quaternary-100 hover:text-senary-900 dark:text-quaternary-300 dark:hover:bg-primary-dark dark:hover:text-primary-light"
        data-drawer-hide="profile-menu-drawer-navigation"
        type="button"
      >
        <svg class="h-5 w-5">
          <use xlink:href="#close" />
        </svg>

        <span class="sr-only">Close menu</span>
      </button>
    </div>
    <div class="p-4">
      <ul class="space-y-1">
        <li>
          <a
            href="{% url "profiles:profile_dashboard" %}"
            class="profile-menu flex items-center justify-between rounded-lg px-2 py-4 xl:px-4"
          >
            <div class="flex items-center gap-x-4">
              <svg class="h-6 w-6">
                <use xlink:href="#home" />
              </svg>
              <div>پیشخوان</div>
            </div>
          </a>
        </li>
        <li>
          <a
            href="{% url "profiles:profile_orders" %}"
            class="profile-menu flex items-center justify-between rounded-lg px-2 py-4 xl:px-4"
          >
            <div class="flex items-center gap-x-4">
              <svg class="h-6 w-6">
                <use xlink:href="#order" />
              </svg>
              <div>سفارش ها</div>
            </div>
          </a>
        </li>
        <li>
          <a
            href="{% url "addreses:user_addreses" %}"
            class="profile-menu profile-menu-active flex items-center justify-between rounded-lg px-2 py-4 xl:px-4"
          >
            <div class="flex items-center gap-x-4">
              <svg class="h-6 w-6">
                <use xlink:href="#address" />
              </svg>
              <div>آدرس ها</div>
            </div>
          </a>
        </li>
        <li>
          <a
            class="flex items-center justify-between rounded-lg p-4 text-red-500 hover:bg-red-500/10 dark:text-red-400 dark:hover:bg-red-400/10"
            href="{% url "account:user_logout" %}"
          >
            <div class="flex items-center gap-x-2">
              <svg class="h-6 w-6">
                <use xlink:href="#exit"></use>
              </svg>
              <span> خروج </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>

      <!-- Address Add modal -->
      <div
        id="address-add-modal"
        tabindex="-1"
        aria-hidden="true"
        class="main-scroll fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full overflow-y-auto overflow-x-hidden p-4 md:inset-0"
      >
        <div class="relative max-h-full w-full max-w-2xl">
          <div
            class="divide-y divide-secondary-light overflow-hidden rounded-lg bg-primary-light shadow ring-1 ring-secondary-light dark:divide-primary-light/5 dark:bg-secondary-dark dark:ring-primary-light/5"
          >
            <div class="px-4 py-5 sm:px-6">
              <div class="flex items-center justify-between">
                <h3
                  class="text-quaternary-700 dark:text-primary-light md:text-lg"
                >
                  ثبت آدرس جدید
                </h3>

                <button
                  class="text-quaternary-700 dark:text-primary-light"
                  data-modal-hide="address-add-modal"
                  type="button"
                >
                  <svg class="h-5 w-5">
                    <use xlink:href="#close" />
                  </svg>

                  <span class="sr-only">Close menu</span>
                </button>
              </div>
            </div>
            <form action="{% url "addres:add_new_addres" %}" method="post">
              <div class="space-y-6 px-4 py-5 sm:p-6">
                <div class="grid grid-cols-2 gap-x-4 gap-y-5 sm:gap-6">
                  <!-- Receiver name -->
                  <div class="col-span-2 sm:col-span-1">
                    <label
                      for="name"
                      class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5"
                    >
                      <input
                        type="text"
                        id="name"
                        name="f_name"
                        class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                        placeholder="نام گیرنده"
                      />
  
                      <span
                        class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300"
                      >
                        نام گیرنده
                      </span>
                    </label>
                  </div>
                  <!-- Receiver family -->
                  <div class="col-span-2 sm:col-span-1">
                    <label
                      for="family"
                      class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5"
                    >
                      <input
                        type="text"
                        id="family"
                        name="l_name"
                        class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                        placeholder="نام خانوادگی گیرنده"
                      />
  
                      <span
                        class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300"
                      >
                        نام خانوادگی گیرنده
                      </span>
                    </label>
                  </div>
                  <!-- Receiver Phone number -->
                  <div class="col-span-2 sm:col-span-1">
                    <label
                      for="phoneNumber"
                      class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5"
                    >
                      <input
                        type="text"
                        id="phoneNumber"
                        name="phone"
                        class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                        placeholder="شماره تماس گیرنده"
                      />
  
                      <span
                        class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300"
                      >
                        شماره تماس گیرنده
                      </span>
                    </label>
                  </div>
                  <!-- Receiver Address -->
                  <div class="col-span-2">
                    <label
                      for="address"
                      class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5"
                    >
                      <textarea
                        type="text"
                        id="address"
                        name="address"
                        rows="3"
                        class="main-scroll peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                        placeholder="نشانی گیرنده"
                      ></textarea>
  
                      <span
                        class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300"
                      >
                        نشانی گیرنده
                      </span>
                    </label>
                  </div>
                  <!-- Receiver City -->
                  <div class="col-span-2 sm:col-span-1">
                    <label
                      for="city"
                      class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5"
                    >
                      <input
                        type="text"
                        id="city"
                        name="city"
                        class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                        placeholder="شهر"
                      />
  
                      <span
                        class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300"
                      >
                        شهر
                      </span>
                    </label>
                  </div>
                  <!-- Receiver Province -->
                  <div class="col-span-2 sm:col-span-1">
                    <label
                      for="province"
                      class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5"
                    >
                      <input
                        type="text"
                        id="province"
                        name="state"
                        class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                        placeholder="استان"
                      />
  
                      <span
                        class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300"
                      >
                        استان
                      </span>
                    </label>
                  </div>
                  <!-- Receiver Building Info -->
                  <div
                    class="col-span-2 flex w-full items-center gap-x-4 gap-y-5 sm:col-span-1 sm:gap-6"
                  >
                    <label
                      for="buildingNumber"
                      class="relative block w-full rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5"
                    >
                      <input
                        type="text"
                        id="buildingNumber"
                        name="plak"
                        class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                        placeholder="پلاک"
                      />
  
                      <span
                        class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300"
                      >
                        پلاک
                      </span>
                    </label>
                    <label
                      for="buildingUnit"
                      class="relative block w-full rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5"
                    >
                      <input
                        type="text"
                        id="buildingUnit"
                        name="unit"
                        class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                        placeholder="واحد"
                      />
  
                      <span
                        class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300"
                      >
                        واحد
                      </span>
                    </label>
                  </div>
                  <input type="hidden" name="next_page" value="addres:user_addreses">
                  <!-- Receiver Postal Code -->
                  <div class="col-span-2 sm:col-span-1">
                    <label
                      for="postalCode"
                      class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5"
                    >
                      <input
                        type="text"
                        id="postalCode"
                        name="postal_code"
                        class="peer w-full rounded-lg border-none bg-transparent px-4 py-3 text-quaternary-700 placeholder-transparent focus:outline-none focus:ring-0 dark:text-primary-light"
                        placeholder="کد پستی"
                      />
  
                      <span
                        class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-senary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-senary-300"
                      >
                        کد پستی
                      </span>
                    </label>
                  </div>
                </div>
                <div class="flex justify-end">
                  <button class="btn-primary w-full px-4 py-2 md:w-auto" type="submit">
                    <span>
                      <svg class="h-5 w-5">
                        <use xlink:href="#address-add" />
                      </svg>
                    </span>
                    <span> ثبت آدرس جدید </span>
                  </button>
                </div>
              </div>
              {% csrf_token %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<main>
{% endblock main %}