{% extends 'base.html' %}
{% load static %}
{% block title %}
ورود
{% endblock title %}

{% block main %}
    <div
      class="flex min-h-screen items-center justify-center bg-secondary-light dark:bg-primary-dark"
    >
      <div class="container">
        <div
          class="mx-auto max-w-[450px] rounded-xl bg-primary-light p-5 shadow-base dark:bg-secondary-dark md:p-10"
        >
          <!-- Logo -->
          <a href="./index.html">
            <img
              src="{% static "assets/images/logo.svg" %}"
              class="mx-auto mb-10 w-40"
              alt=""
            />
          </a>
          <h1 class="mb-10 text-center text-lg text-quaternary-700 dark:text-primary-light">
           ورود
          </h1>
          <form method="post">
            {% csrf_token %}
            <div class="mb-4 space-y-4">
                <label
                  for="email"
                  class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5"
                >
                  {{form.email}}
                  <span
                    class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300"
                  >
                  ایمیل  
                  </span>
                </label>
                <label
                  for="password"
                  class="relative block rounded-lg border border-secondary-light shadow-base dark:border-primary-light/5 mb-10"
                >
                  {{form.password}}
                  <span
                    class="pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-primary-light px-2 py-0.5 text-sm text-quaternary-600 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-base peer-focus:top-0 peer-focus:text-sm dark:bg-secondary-dark dark:text-quaternary-300"
                  >
                    رمز عبور
                  </span>
                </label>
                <span class="h-5 text-sm text-red-500 dark:text-red-400">
                    {{ form.email.errors }}
                </span>
              </div>
              <div class="mb-5">
                <button class="btn-primary w-full py-3" type="submit">ورود</button>
              </div>
              <br>
              <p
                class="text-center text-sm text-quaternary-600 dark:text-quaternary-300"
              >
              اگر حساب کاربری ندارید لطفا ثبت نام کنید و به ما بپیوندید!
              </p>
              <br>
              <div class="mb-5">
                <a class="btn-primary w-full py-3" href="{% url "account:user_register" %}">ثبت نام</a>
              </div>
            </div>
          </form>
      </div>
    </div>
{% endblock main %}